<div id="gridHeaderContainer">
    <div id="gridHeader">
        <div class="timeControls">
            <div class="dateContainer">
            </div>
            <div id="timeNavigationContainer">
                <div id="timeNavigation">
                    <div class="times"></div>
                    <div class="prev"><a title="Previous">Previous</a></div>
                    <div class="next"><a title="Next">Next</a></div>
                </div>
                <div id="datePicker"></div>
            </div>
        </div>
        <div class="filters">
            <div id="channelSearch">
                <div class="cancelSearch"></div>
                <form class="search">
                    <div>
                        <input class="searchField" placeholder="Jump to Channel" autocomplete="off" />
                    </div>
                </form>
            </div>
            <div class="now">Go To Now<i></i></div>
            <h6 class="channelFilter"><span>Show me:</span> <a id="all" class="selected ct_71_ct elm-c" title="View all channels." href="#">All Channels</a> | <a id="favorites" class="ct_71_ct elm-c" title="View your favorite channels." href="#">Favorites</a> | <a id="hd" class="ct_71_ct elm-c" title="View only HD channels." href="#">HD</a> | <a id="liveTV" class="ct_71_ct elm-c" title="See what's playing online." 
            href="#">On PC</a> </h6>
        </div>
    </div>
</div><!--! end of #gridHeaderContainer -->