.confirm {
    width: 400px;

    .loading-message {
        margin: 15px 0 0 0;
    }

    .button-row {
    	width: 260px;
    	margin-left: 70px;
    }

    .floating-right-button {
        float: right;
    }
}
