
.ovp-closed-captioning {

    height: 17px;
    width: 21px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/ondemand-icons.png?{{CACHE-VERSION}}") 0px -614px;

}
