
//
// Scaffolding
// --------------------------------------------------

//
// Fonts
// -------------------------

@font-face {
  font-family: 'Spectrum Icons';
  src: url("../fonts/sb-icons.woff") format("woff"),
    url("../fonts/sb-icons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
    font-family: "password";
    src: url("../fonts/password.eot");
    src: url("../fonts/password#iefix") format("embedded-opentype"),
         url("../fonts/password.woff") format("woff"),
         url("../fonts/password.ttf") format("truetype"),
         url("../fonts/password.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
